a {
    padding: 5px;
}

form {
    text-align: center;
    padding: 16px;
}

.logBar {
    text-align: right;
}

.inBox {
    height: 44px;
    border-radius: 44px;
    width: 60%;
}

.sbtn {
    padding: 16px;

}