a {
    padding: 5px;
}

form {
    text-align: center;
    padding: 16px;
}

svg {
    align-items: center;
    padding: 25%;
    height: 50%;
}

.logBar {
    text-align: right;
}

.inBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    border: thin;
    align-content: center;
    box-shadow: -1px 0 rgb(212, 212, 212), 0 1px rgb(212, 212, 212), 1px 0 rgb(212, 212, 212), 0 -1px rgb(212, 212, 212);
    padding: 1px;
    height: 44px;
    border-radius: 44px;
    width: 60%;
}

.inBox:hover {
    border-style: hidden;
    box-shadow: 0 0 4px gray;
}

.boxsvg {
    align-items: left;
    padding: 1px;
    color: gray;
    height: 42px;
    width: 5%;
}

.boxtxt {
    align-items: left;
    padding: 2px;
    height: 38px;
    border-style: hidden;
    font-size: 16px;
    outline: none;
    width: 95%;
}

.sbtn {
    padding: 16px;

}